body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 80%;
    border: none;
    height: 2px;
    background-color:#400;
    margin: 30px 0;
}

p {
    font-style: italic;
}