body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

hr {
    width: 80%;
    border: none;
    height: 2px;
    background-color:#400;
    margin: 30px 0;
}

.borderimg {
  border: 10px solid transparent;
  padding: 15px;

  border-image-source: url("border.png");
  border-image-slice: 30;
  border-image-repeat: stretch;
}